:root {
  --orange: rgb(248, 225, 212);
  --bg-color: rgb(245, 238, 234);
  --lightorange: rgb(252, 155, 80);
  --darkorange: #e45826;
}

.nav {
  position: absolute;
  width: 100vw;
  height: fit-content;
  top: 0 !important;
}

.nav img {
  height: 80px;
  object-fit: cover;
  margin: 2vh 0 0 2vw;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url(assets/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
}

.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  flex-direction: column;
}

.container {
  position: relative;
  top: 2vh;
  display: flex;
  width: 33%;
  align-items: center;
  justify-content: center;
  margin: 0 1vh;
  padding: 4vh;
  box-shadow: 0 2vh 3vh black;
  border-radius: 5px;
  background-color: var(--bg-color);
}

h2 {
  font-size: 4vh;
  font-weight: 600;
  text-align: center;
  padding-bottom: 2vh;
  font-family: "Ubuntu", sans-serif !important;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3vh 0;
  font-family: "Montserrat", sans-serif;
}

.input-box {
  display: flex;
  padding-bottom: 1.5vh;
}

.input-box:nth-child(n) {
  justify-content: end;
}

.input-box label,
.gender-title {
  width: 70%;
  color: black;
  font-weight: bold;
  margin: 1vh 0;
}

.gender-title {
  font-weight: bold;
}

.input-box input {
  width: 100%;
  padding: 0 1vh;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  color: black;
  background-color: var(--orange);
}

.input-box input:is(:focus, :valid) {
  box-shadow: 0 0.7vh 1.2vh rgba(0, 0, 0, 0.3);
}

.gender-category {
  color: black;
}

.gender-category label {
  padding: 0 4vh 0 1vh;
}

.gender-category label,
.gender-category input {
  cursor: pointer;
}

.button-container {
  margin: 2vh 0;
}

.button-container button {
  width: 100%;
  margin-top: 2vh;
  padding: 1.5vh;
  font-size: 3vh;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient(
    to right,
    var(--lightorange),
    var(--darkorange)
  );
}

form {
  width: 90%;
}

@media (width <= 1024px) {
  .nav img {
    height: 50px;
    object-fit: cover;
  }

  h2 {
    font-size: 3vh;
    margin: 0;
    padding-bottom: 1vh;
    font-family: "Ubuntu", sans-serif !important;
  }
  .container {
    width: 80%;
    padding: 2vh 2vh 1vh 1vh;
  }

  form {
    width: 100%;
  }

  .content {
    position: relative;
    max-height: 380px;
    overflow: auto;
    padding-left: 2vw;
  }

  .input-box {
    flex-wrap: wrap;
  }

  .input-box input {
    position: relative;
    display: flex;
    width: 80%;
  }

  .input-box:nth-child(n) {
    justify-content: space-between;
  }

  .gender-category {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }

  .content::-webkit-scrollbar {
    width: 1vw;
  }

  .button-container button {
    font-size: 2vh;
  }
}
